.btn-custom {
  border: 2px solid #eee9d3;
  background-color: #eee9d3;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.btn-custom:hover {
  color: #000000;
  border-color: #e7dc9d;
  background-color: #e7dc9d;
}

.btn-custom:active {
  color: #000000;
  border-color: #bbb27f;
  background-color: #bbb27f;
}

.container-custom {
  padding: 50px;
}

.column-2 {
  padding-top: 58px;
}

.column-1 h1,
.column-2 h1 {
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.column-1 p,
.column-2 p {
  color: white;
}

.column-1 img,
.column-2 img {
  max-width: 95%;
  border-radius: 5px;
}

.new-section {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: white;
}

.section-title {
  margin-bottom: 30px;
}

.new-img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.new-description {
  max-width: 80%;
  text-align: center;
  margin-bottom: 20px;
}
